<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAM8qb85XCE0jb3nq-MzQkFb-OBIquwsXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>730951847317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterHotelAppUi</string>
	<key>PROJECT_ID</key>
	<string>puputunggulprayoga</string>
	<key>STORAGE_BUCKET</key>
	<string>puputunggulprayoga.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730951847317:ios:2422faafdf4eb4ba6cfa9c</string>
</dict>
</plist>